node_modules/

mobile/node_modules
mobile/platforms
mobile/hooks

server/config.js
server/node_modules
server/public/libs

mobile/hooks
mobile/platforms
mobile/plugins

test/node_modules
test/npm-debug.log

.DS_store
react-client/node_modules

client/node_modules
npm-debug.log

.idea