<!--
  This template loads for the 'tab.invite' state (app.js)
-->
<ion-view title="Invite Friends">
  <ion-content has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input item-display">
        <span class="input-label">{{vm.course.name}}</span>
      </label>
      <label class="item item-input item-display">
        <span class="input-label">Tee Time:</span>
        <span class="input-label pull-right">{{vm.teeTime}}</span>
      </label>

      <label class="item item-input">
        <input type="text" ng-model="vm.userInfo.userName" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="tel" ng-model="vm.userInfo.userNumber" placeholder="Mobile Number">
      </label>
      <button class="button button-positive button-block" ng-click="vm.bookTime()">Book It</button>

      <button class="button button-positive button-block" ng-disabled="vm.isDisabled" ng-click="vm.isHidden = !vm.isHidden">Invite Friends</button>

    <ul class="list">
      <label class="item item-input item-display">
         <span class="input-label">John</span><span class="input-label pull-right">{{vm.cell_1}}</span>
      </label>
      <label class="item item-input item-display">
         <span class="input-label">Philip</span><span class="input-label pull-right">{{vm.cell_2}}</span>
      </label>
      <label class="item item-input item-display">
         <span class="input-label">Nick</span><span class="input-label pull-right">{{vm.cell_3}}</span>
      </label>
      <button class="button button-positive button-block" ng-click="vm.sendInvites()" ng-hide="vm.isHidden">Send Invites</button>
    </ul>

    </div>  <!-- end class="list list-inset" -->
  </ion-content>
</ion-view>
