<!--
  This template loads for the 'tab.invite' state (app.js)
-->
<ion-view title="Invite Friends">
  <ion-content has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input item-display">
        <span class="input-label">{{vm.course.name}}</span>
      </label>
      <label class="item item-input item-display">
        <span class="input-label">Tee Time:</span>
        <span class="input-label pull-right">{{vm.teeTime}}</span>
      </label>
      <label class="item item-input item-display">
        <span class="input-label">Players:</span>
        <span class="input-label pull-right"><!-- {{vm.teeTime}} --> 1</span>
      </label>

      <button class="button button-positive button-block" ng-click="vm.bookTime()">Book It</button>

      <label class="item item-input">
        <span class="input-label">Your Name</span>
        <input type="text" ng-model="vm.userInfo.userName">
      </label>
      <label class="item item-input">
        <span class="input-label">(Area Code) + (Number)</span>
        <input type="tel" ng-model="vm.userInfo.userNumber">
      </label>
    <label class="item item-input item-display">
      <span class="input-label">Your Friends:</span>
    </label>


<ul class="list">
<!-- ng-checked -->
<!-- https://docs.angularjs.org/api/ng/directive/ngChecked -->

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Wagon Wheels
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Wayne
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Shitbird
  </li>

    <button class="button button-positive button-block" ng-click="vm.bookTime()">Book It</button>
</ul>

    </div>
  </ion-content>
</ion-view>
