<!-- 
  This template gets placed in the Course tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js)
  The 'courses' data comes from its $scope within CourseIndexCtrl (controller.js)
-->
<ion-view title="Course Information">
  <ion-content>
    <ion-list>
<!--       <ion-item back-img="{{course.url}}" ng-repeat="course in vm.courses" type="item-text-wrap" href="#/tab/course/{{course._id}}">
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
        <p>{{course.address}}</p>
      </ion-item>
 -->    
      <ion-item class="p2text" ng-repeat="course in vm.courses" type="item-text-wrap">
        <a href="#/tab/course/{{course._id}}">
          <image src="{{course.url}}" style="max-height:280px;">
            <h3 style="position:absolute;left:0px;top:10px;font-size: 32px;">
            {{course.name}}
            </h3>
            <h2 style="position:absolute;left:0px;top:45px;font-size: 16px;font-family:Garamond;">{{course.description}}</h2>
            <h1 style="position:absolute;left:0px;top:50px;font-size: 16px;font-family:Garamond;">{{course.address}}</h1>            
          </image>

      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
