<!-- 
  This template gets placed in the Course tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js)
  The 'courses' data comes from its $scope within CourseIndexCtrl (controller.js)
-->
<ion-view title="Course Information">
  <ion-content>
    <ion-list>
<!--       <ion-item back-img="{{course.url}}" ng-repeat="course in vm.courses" type="item-text-wrap" href="#/tab/course/{{course._id}}">
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
        <p>{{course.address}}</p>
      </ion-item>
 -->    
      <ion-item ng-repeat="course in vm.courses" type="item-text-wrap">
        <a class="itemHeight" href="#/tab/course/{{course._id}}">
          <!-- <image src="{{course.url}}" style="display:block;padding:0px;"> -->
          <image src="{{course.url}}"> 
            <h3 style="position:absolute;left:0px;top:0px;font-size: 32px;">
            {{course.name}}
<!--               <p>{{course.description}}</p>
              <p>{{course.address}}</p>            
 -->
            </h3>
          </image>

      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
