/** {
  padding: 0;
  margin: 0;
}
*/
.scroll {
  height: 100%;
}

.list {
  height: 100%;
}

ion-item.item.item-complex {
  min-height: 33%;
}

/*.itemHeight {
  height: 280px;
}
*/
.item {
  padding: 0 !important;
  border-bottom: none;
}

/*padding, css style*/