/** {
  padding: 0;
  margin: 0;
}
*/
.scroll {
  height: 100%;
}

.list {
  height: 100%;
}

ion-item.item.item-complex {
  min-height: 33%;
  max-height: 33%;
}

/*.itemHeight {
  max-height: 280px;
}
*/
.p2text {
  padding: 0 !important;
}

.item-display {
  font-weight: bold;
}

/*padding, css style*/